{% extends 'auctions/layout.html' %}
{% load static %}
{% block title %}
    {{ auction.title }}
{% endblock %}

{% block body %}
<div class="row auction-item justify-content-center">

    <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-6">

            <a href="{% url "edit_watchlist" auction.id %}">
                {% if auction in watchlist %}
                    <span class="watchlist watchlist-auction watchlist-added"><i class="fa-solid fa-heart"></i></span>
                {% else %}
                    <span class="watchlist watchlist-auction watchlist-removed"><i class="fa-solid fa-heart"></i></span>
                {% endif %}
            </a>


            <img class="auction-image" src="{{ auction.avatar }}" alt="{{ auction.title }}">
          </div>
          <div class="col-md-6">
            <div class="pl-2 pr-2 pt-2">
                {% include 'auctions/alerts.html' %}
            </div>
            <div class="card-body">
                {% if auction.status %}
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <button class="btn btn-outline-primary btn-sm" onClick="window.location.reload();">
                            <i class="fa-solid fa-arrows-rotate bids-info "></i> Refresh
                        </button>
                    </div>
               
                    <div class="col-auto">
                        <h1 class="text-right ">
                            
                            <span class="current-bid">
                                <small><strong>$</strong></small>{{ bid}}
                            </span>
                           
                        </h1>
                    </div>
                </div>
                
                <div class="row justify-content-sm-between justify-content-center">
                    <div class="col-auto">
                        {% comment %} Number of bids {% endcomment %}
                        {% if auction.bid_count == 0 %}
                        <p class="text-muted bids-info ">There's no bids yet</p>
                        {% else %}
                        <p class="text-muted bids-info ">Number of bids :<strong> {{ auction.bid_count }} </strong></p>
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        {% comment %} Best bidder {% endcomment %}
                        {% if auction.bid_count == 0 %}
                        <p class="text-muted bids-info ">Be the first to bid</p>
                        {% else %}
                        <p class="text-muted bids-info text-right"><strong>{{bidder}}</strong> is the best bidder</p>
                        {% endif %}
                    </div>
                </div>
                
                <form action="{% url 'bid' auction.id %}" method="POST">
                    {% csrf_token %}
                    {{ bid_form }}

                    <div class="row justify-content-center justify-content-sm-between justify-content-md-center justify-content-lg-between">
                        <div class="col-auto">
                            <p class="text-muted bids-info ">Last update:<strong> {{auction.updated_at}}</strong></p>
                        </div>
                        {% comment %} <div class="col-auto">
                            <p class="text-muted bids-info text-right">Updated: <strong>{{auction.updated_at}}</strong></p>
                        </div> {% endcomment %}
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Place bid</button>
                </form>

                    {% if request.user == auction.seller %}
                    <form action="{% url 'close' auction.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-block mt-2">Close auction</button>
                    </form>
                    {% endif %}

                    <hr class="mb-3 mt-4">
                {% else %}
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <p class="text-muted">Auction closed on <strong>{{auction.updated_at}}</strong>
                            </p>
                        </div>
                    </div>
                    
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            {% if request.user == auction.buyer %}
                            <p class="closed-bid text-center"> <strong>{{bidder}}</strong>, you won this auction and bought <strong>{{auction.title}}</strong> for <strong>${{bid}}</strong>
                            </p> 
                            {% elif request.user == auction.seller %}
                                {% if auction.bid_count == 0 %}
                                <p class="closed-bid text-center"> <strong>{{auction.seller}}</strong>, you didn't sell <strong>{{auction.title}}</strong> because there's no bids !
                                </p>
                                {% else %}

                               <p class="closed-bid text-center"> <strong>{{bidder}}</strong> bought this item for <strong>${{bid}}</strong></p>
                                {% endif %} 
                             
                             {% endif %}
                        </div>
                    </div>

                    <hr class="mb-4 mt-3">
                {% endif %}

                

              <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">Artist</th>
                            <td>{{ auction.artist }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Title</th>
                            <td>{{ auction.title }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ auction.description }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Year</th>
                            <td>{{ auction.year }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Size</th>
                            <td>{{ auction.size }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Category</th>
                            <td>{{ auction.category }}</td>
                        <tr>
                            <th scope="row">Created</th>
                            <td>{{ auction.created_at }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Seller</th>
                            <td>{{ auction.seller }}</td>
                        </tr>
                    </tbody>
                </table>
            
            </div>
          </div>
        </div>
    </div>

</div>

<div style="clear:both; height: 50px;"></div>

<div class="row">

    <div class="col-12 col-md-5 mt-4 mb-4">
        
        <p>Do you have a similar work for sale? <a href="{% url 'create_listing' %}">Sell it here</a></p> <br>
        <a href="https://www.google.com/search?q={{ auction.artist }}">Learn more about {{ auction.artist }}</a> <br>
        <a href="https://www.google.com/search?q={{ auction.artist }} {{ auction.title }}">Learn more about {{ auction.title }} by {{ auction.artist }}</a>

        <form class="comment-form mt-4" action="{% url 'new_comment' auction.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <button type="submit"  class="btn btn-primary btn-block">Post Comment</button>
        </form>

    </div>

    <div class="col-12 col-md-7 pb-4">

        <h2>Comments</h2>

        <hr>

        {% for comment in comments %}
       
        <div class="d-flex justify-content-center py-2">
            <div class="comment-box py-2 px-2"> <span class="comment">{{ comment.comment }}</span>
                <div class="d-flex justify-content-between py-1 pt-2">
                    <div><span class="nickname">{{ comment.user }}</span></div>
                    <div><span class="clock"><i class="fa-solid fa-clock"></i></span><span class="posted_at">{{ comment.created_at }}</span></div>
                </div>
            </div>
        </div>
        {% empty %}

        <div class="row h-100">
            <div class="col-md-12 my-auto">
                <img class="img-responsive center-block d-block mx-auto mb-2" src="{% static 'auctions/assets/quotes.png' %}" alt="empty" width="10%">
                <h5 class="text-comment text-center"><strong>No comments yet</strong> 
                    <br> Be the first to share your thoughts!
                </h5>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}

