{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-3 col-xl-4 mb-4">
            <div class="card text-center" style="max-width: 40rem; ">
                <div class="image-container">
                    <img src="{% static 'auctions/assets/t1.jpg' %}"class="card-img-top image" alt="...">
                    <div class="bid-btn">
                        <a href="#" class=" btn btn-primary ">Place Bid</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Cada cosa en su sitio 6  <span class="badge badge-warning"><small class="text-muted">Created 3 mins ago</small></span></h5>
                    <p class="card-text"><strong>Price:</strong> 1205£</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 col-lg-3 col-xl-4 mb-4">
            <div class="card text-center" style="max-width: 40rem; ">
                <div class="image-container">
                    <img src="{% static 'auctions/assets/t2.jpg' %}"class="card-img-top image" alt="...">
                    <div class="bid-btn">
                        <a href="#" class=" btn btn-primary ">Place Bid</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">La mujer de Almanzora  <span class="badge badge-warning"><small class="text-muted">Created 3 mins ago</small></span></h5>
                    <p class="card-text"><strong>Price:</strong> 3000£</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 col-lg-3 col-xl-4 mb-4">
            <div class="card text-center" style="max-width: 40rem; ">
                <div class="image-container">
                    <img src="{% static 'auctions/assets/t3.jpg' %}"class="card-img-top image" alt="...">
                    <div class="bid-btn">
                        <a href="#" class=" btn btn-primary ">Place Bid</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Retour de David Vainqueur de Goliath  <span class="badge badge-warning"><small class="text-muted">Created 3 mins ago</small></span></h5>
                    <p class="card-text"><strong>Price:</strong> 250£</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 col-lg-3 col-xl-4 mb-4">
            <div class="card text-center" style="max-width: 40rem; ">
                <div class="image-container">
                    <img src="{% static 'auctions/assets/t4.jpg' %}"class="card-img-top image" alt="...">
                    <div class="bid-btn">
                        <a href="#" class=" btn btn-primary ">Place Bid</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">The Restaurateur bord de côte en Bretagne  <span class="badge badge-warning"><small class="text-muted">Created 3 mins ago</small></span></h5>
                    <p class="card-text"><strong>Price:</strong> 2500£</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 col-lg-3 col-xl-4 mb-4">
            <div class="card text-center" style="max-width: 40rem; ">
                <div class="image-container">
                    <img src="{% static 'auctions/assets/t5.jpg' %}"class="card-img-top image" alt="...">
                    <div class="bid-btn">
                        <a href="#" class=" btn btn-primary ">Place Bid</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Colpir Sense Nafrar I  <span class="badge badge-warning"><small class="text-muted">Created 3 mins ago</small></span></h5>
                    <p class="card-text"><strong>Price:</strong> 5400£</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 col-lg-3 col-xl-4 mb-4">
            <div class="card text-center" style="max-width: 40rem; ">
                <div class="image-container">
                    <img src="{% static 'auctions/assets/t6.jpg' %}"class="card-img-top image" alt="...">
                    <div class="bid-btn">
                        <a href="#" class=" btn btn-primary ">Place Bid</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Le Cours - La Fayette à Toulouse - Matin d'Hiver  <span class="badge badge-warning"><small class="text-muted">Created 3 mins ago</small></span></h5>
                    <p class="card-text"><strong>Price:</strong> 1500£</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 col-lg-3 col-xl-4 mb-4">
            <div class="card text-center" style="max-width: 40rem; ">
                <div class="image-container">
                    <img src="{% static 'auctions/assets/t7.jpg' %}"class="card-img-top image" alt="...">
                    <div class="bid-btn">
                        <a href="#" class=" btn btn-primary ">Place Bid</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Serenidad y agonía  <span class="badge badge-warning"><small class="text-muted">Created 3 mins ago</small></span></h5>
                    <p class="card-text"><strong>Price:</strong> 600£</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 col-lg-3 col-xl-4 mb-4">
            <div class="card text-center" style="max-width: 40rem; ">
                <div class="image-container">
                    <img src="{% static 'auctions/assets/t8.jpg' %}"class="card-img-top image" alt="...">
                    <div class="bid-btn">
                        <a href="#" class=" btn btn-primary ">Place Bid</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Albricias  <span class="badge badge-warning"><small class="text-muted">Created 3 mins ago</small></span></h5>
                    <p class="card-text"><strong>Price:</strong> 500£</p>
                </div>
            </div>
        </div>
    
    
    </div>
{% endblock %}