{% extends 'auctions/layout.html' %}
{% load static %}

{% block title %}
Watchlist
{% endblock %}

{% block body %}

<div class="card mb-3" style="max-width: 100%;">
    <div class="cart-item d-md-flex "><span class="remove-item"><i class="fa fa-times"></i></span></div>

    <div class="row no-gutters">

      <div class="col-md-2">
        <span style="cursor:pointer" class="watchlist watchlist-auction"><i class="fa-solid fa-heart"></i></span>
        <img class="auction-image" src="{% static 'auctions/assets/cover-1.jpg' %}" alt="{{ auction.title }}">
      </div>

      <div class="col-md-10">
        <div class="pl-2 pr-2 pt-2">
            {% include 'auctions/alerts.html' %}
        </div>
        <div class="card-body">
        
            <div class="row justify-content-between">
                <div class="col-auto">
                    <span class="nickname">Paesaggio - Arturo VERGAGNI</span>
                </div>
                <div class="col-auto">
                    <span class="clock"><i class="fas fa-portrait"></i></span><span>seller : logan</span>
                </div>
                <div class="col-auto">
                    <span class="clock"><i class="fa-solid fa-clock"></i></span><span class="posted_at">Sept. 5, 2022, 2:45 p.m.</span>
                </div>
            </div>

            <hr class="mb-4 mt-3">
            
            <div class="row  justify-content-center py-3 px-4">
                <div class="col-auto">
                    <span style="overflow: hidden; display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;" class="comment">	Apparteneva a mia nonna. Mi raccontava che le era stato regalato. Lo regalò a sua volta alla figlia (mia madre). Il paesaggio è stato da sempre protagonista nella ricerca artistica, sia come ambientazione, come sfondo, ma anche come soggetto esso stesso. La descrizione naturalistica del paesaggio è stata una costante aspirazione per i pittori.</span>
                </div>
            </div>

            <hr class="mb-4 mt-3">

            <div class="row justify-content-between">

                <div class="col-auto">
                    <span class="clock"><i class="fa-solid fa-circle-check"></i></span><span class="posted_at">Status : Active</span>
                </div>
                
                <div class="col-auto">
                    <span class="clock"><i class="fa-solid fa-hashtag"></i></span><span class="posted_at">Number of bids : Active</span>
                </div>
                
                <div class="col-auto">
                    <span class="clock"><i class="fa-solid fa-money-bill"></i></span><span class="posted_at">Best bid : Active</span>
                </div>
            </div>
        </div>
      </div>


    </div>
</div>

{% endblock %}